/* Общие стили */

body {
  margin: 0;
  padding: 0;

  font-family: "Tahoma", Arial, sans-serif;
  font-size: 14px;

  background-color: #0a9b6f;
}

* {
  box-sizing: border-box;
}

/* Кнопки */

.button {
  padding: 5px;
  border: none;
  border-radius: 5px;

  font-size: 14px;
  color: #000000;
  text-align: center;
  text-decoration: none;

  background-color: #ffffff;

  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.5;
}

.button--bigger {
  padding: 10px;

  font-size: 18px;
}

.button--smaller {
  padding: 3px;

  font-size: 12px;
}

/* Шапка */

.header {
  padding: 15px;

  background-color: #076d4e;
}

.header__title {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

/* Меню авторизации */

.auth-menu {
  margin-top: 40vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-menu__button {
  width: 200px;
  margin-bottom: 10px;
}

.auth-menu__button:last-child {
  margin-bottom: 0;
}

/* Форма */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
  padding: 15px;
  border-radius: 10px;

  background-color: rgba(0, 0, 0, 0.7);
}

.form__label,
.form__input {
  margin-bottom: 5px;
}

.form__label {
  color: #ffffff;
}

.form--centered {
  margin: 30vh auto 0;
}

/* Фотографии */

.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photos__upload-button-label {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;

  background-color: #ffffff;
}

.photos__upload-button {
  display: none;
}

.photos__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.photo {
  display: flex;
  flex-direction: column;

  width: 180px;
  margin-bottom: 15px;
}

.photo * {
  margin-bottom: 5px;
}

.photo *:last-child {
  margin-bottom: 0;
}

.photo__thumbnail {
  height: 180px;
}

.photo__title {
  text-align: center;
}

/* Модальное окно */

.modal {
  position: absolute;
  left: 50%;
  top: 50%;

  min-width: 200px;
  padding: 10px;

  background-color: rgba(0, 0, 0, 0.7);

  color: #ffffff;

  transform: translate(-50%, -50%);
}

/* Шаринг фотографий */

.share-modal {
  text-align: center;
}

.share-modal * {
  max-height: 80vh;
  margin-bottom: 10px;

  overflow: auto;
}

.share-modal *:last-child {
  margin-bottom: 0px;
}
