RewriteEngine On
RewriteBase /


RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^api/photo/(\d+)$ /api/photo/index.php

RewriteCond %{QUERY_STRING} user_id=(.*)
RewriteRule ^api/photo/(\d+)/$ /api/photo/?id=$1&user_id=%1 [L,R=301]

RewriteRule ^api/photo/(\d+)$ /api/photo/?id=$1 [L,R=301]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^api/user/(\d+)/share$ /api/user/?id=$1
SetEnvIf Authorization "(.*)" Authorization=$1